/* Пример кастомного CSS для Jazzmin */
/* Изменение цвета фона боковой панели */
#nav-sidebar {
    background-color: #333;
}

/* Изменение цвета верхней панели навигации */
.navbar {
    background-color: #555;
}

/* Изменение цвета заголовка */
h1 {
    color: #ff9900;
}
